accelerate 
annoy 
bitsandbytes
datasets 
faiss-cpu 
huggingface-hub 
langchain 
libfaiss
libfaiss-avx2
nltk 
numpy 
openai 
pandas 
pillow 
pinecone-client  
requests 
sacremoses 
scikit-learn 
scipy 
sentence-transformers 
sentencepiece 
tokenizers 
torch 
torchvision 
tqdm 
transformers 
typing-extensions 

